<mat-form-field *ngIf="control" [hideRequiredMarker]="!isRequired" [floatLabel]="floatLabel" class="width100per">
  <mat-icon *ngIf="icon" matPrefix class="app-input-icon">{{icon}}</mat-icon>
  <input [type]="type" matInput [placeholder]="label" [formControl]="control" [attr.disabled]="isDisabled ? '': null">


  <mat-error *ngIf="control.hasError('required')">
    Please enter a <strong>value</strong>
  </mat-error>
  <mat-error *ngIf="control.hasError('matchOther')">
    Not Matching
  </mat-error>
</mat-form-field>
